#flash_goodMessage{
    background: green;
}
table tr.altrow td {
    background: #ebebeb;
}
.flash_bad { padding:10px; border:2px solid #990000; background:#ffa8a8; margin: 10px 0; font-weight:bold;}
.flash_good { padding:10px; border:2px solid #99cc33; background:#c2e085; margin: 10px 0; font-weight:bold;}