<div class="types view">
    <h2>Viewing Type: <?php echo h($type['Type']['name']); ?></h2>
    
    <dl>
    	<dt>Name:</dt>
        <dd><?php echo h($type['Type']['name']); ?></dd>
        
        <dt>Description:</dt>
        <dd><?php echo h($type['Type']['descr']); ?></dd>
        
        <dt>Created</dt>
        <dd><?php echo $type['Type']['created']; ?></dd>
    </dl>
    
    <?php if(!empty($type['Dvd'])): ?>
    
    <div class="related">
        <h3>DVDs with this Type</h3>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <?php foreach($type['Dvd'] as $dvd): ?>
                <tr>
                    <td><?php echo h($dvd['name']); ?></td>
                    <td><?php echo $this->Html->link('View', '/dvds/view/'.$dvd['slug']);?></td>
                </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
    </div>
    
    <?php endif; ?>
    
    <p><ul class="actions">
    	<li><?php echo $this->Html->link('List Types', array('action'=>'index'));?></li>
    </ul></p>
</div>